# from tmdb (the movie database)

In [1]:
import requests

url = "https://api.themoviedb.org/3/account/21991273/rated/movies?language=en-US&page=1&sort_by=created_at.asc"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmYjIxYzBkMjg4ZGEzZGM5ZjIxMmQ1ZWM1ZjI4MTgxNyIsIm5iZiI6MS43NDY0Mzc2MTEzMjYwMDAyZSs5LCJzdWIiOiI2ODE4ODVlYmY2MjA5NWVlNjM2M2ZlZWMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.Wvaz2laL8hGj5PIBDidhm5hVDvrtm0p0cJ6jqcT087o"
}

response = requests.get(url, headers=headers)

print(response.text)

{"page":1,"results":[],"total_pages":0,"total_results":0}

In [2]:
import pandas as pd

In [3]:
response.json()

{'page': 1, 'results': [], 'total_pages': 0, 'total_results': 0}

In [ ]:
response.json()['results']

[]

In [9]:
pd.DataFrame(response.json()['results']).head(2)

Empty DataFrame
Columns: []
Index: []

In [10]:
df=pd.DataFrame()

In [11]:
df

Empty DataFrame
Columns: []
Index: []

In [12]:
for i in range(1,429):
    url = f"https://api.themoviedb.org/3/account/21991273/rated/movies?language=en-US&page={i}&sort_by=created_at.asc"

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmYjIxYzBkMjg4ZGEzZGM5ZjIxMmQ1ZWM1ZjI4MTgxNyIsIm5iZiI6MS43NDY0Mzc2MTEzMjYwMDAyZSs5LCJzdWIiOiI2ODE4ODVlYmY2MjA5NWVlNjM2M2ZlZWMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.Wvaz2laL8hGj5PIBDidhm5hVDvrtm0p0cJ6jqcT087o"
    }

    response = requests.get(url, headers=headers)
    temp_df=pd.DataFrame(response.json()['results'])
    df = pd.concat([df, temp_df], ignore_index=True)

In [13]:
df

Empty DataFrame
Columns: []
Index: []

In [15]:
df.shape

(0, 0)

In [16]:
df.to_csv('movies.csv')